//Global variables
$background-color: #0B0D17;
$purple: #D0D6F9;
$cream: #FFFFFF;

@mixin nav ($val){
    @if $val == active{
    border-bottom: 2px solid rgb(255, 255, 255) ;
    }
    @else if $val == hover{
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    }
    @else{
        border-bottom: none;
    }
}

@mixin dot ($val){
    @if $val == active{
        background-color:  rgb(255, 255, 255) ;
    }
    @else if $val == hover{
        background-color:rgba(255, 255, 255, 0.5);
    }
    @else{
        background-color:rgba(255, 255, 255, 0.2);
    }
}

@mixin circle ($val){
    @if $val == active{
        background-color:  rgb(255, 255, 255) ;
    }
    @else if $val == hover{
        border:1px solid rgba(255, 255, 255, 0.5);
    }
    @else{
        background-color:1px solid rgba(255, 255, 255, 0.2);
    }
}

h1{
    font-family:'Bellefair', serif;
    font-size: 150px;
    color: $cream;
}

h2{
    font-family:'Bellefair', serif;
    font-size: 100px;
    color: $cream;
}

h3{
    font-family:'Bellefair', serif;
    font-size: 56px;
    color: $cream;
}

h4{
    font-family:'Bellefair', serif;
    font-size: 32px;
    color: $cream;
}

h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.75;
    color: $cream;
}
p{
    color: $cream;
}

*{
    box-sizing: border-box;
}

body{

nav{
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 50px;

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $cream;
    opacity: 0.6;
    height: auto;
    margin: 20px 0px;
    padding: 10px 100px;

}

li{
    list-style-type: none;
}
a{
    color: black;
    text-decoration: none;
    margin-right: 30px;
}

}

}
