@import 'main';

body{
    background: url('../assets/destination/background-destination-desktop.jpg') no-repeat;
    background-size: cover;

    main{
 
        .overall{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 10vw;

            .content{
                padding: 40px 0px;
                nav{
                    width: inherit;
                    ul{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        padding: 0px;
                        max-width: 400px;
                        margin: 0px auto;
                        
                        
                    }
                    li{
                        list-style-type: none;
                
                    
                    a{
                        color: $purple;
                        text-decoration: none;
                        margin-right: 30px;
                    }
                    a:hover{
                        @include nav(hover);
                        padding-bottom: 8px;
                    }
                    a.active{
                        @include nav(active);
                        color: $cream;
                        padding-bottom: 8px;
                    }
                    a:active{
                        @include nav(active);
                        color: $cream;
                        padding-bottom: 8px;
                    }
                    
                    }
                }
                
                h2{
                    display: inline-block;
                    margin: 2vw auto;
            }

                p{
                    width: 48ch;
                    color: $purple;
                }
                
                .stats{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    max-width: 450px;
                    margin: 10px auto;
                    
                    span{
                        width: 200px;
                        p{
                            width: 200px;
                        }
                        p:nth-child(1){
                            color: $purple;
                        }
                        p:nth-child(2){
                            font-family: "Bellefair" serif;
                            font-size: 28px;
                            margin-top: 5px;
                            color: $cream;
                            text-transform: uppercase;
                        }
                    }
                }
        
            } 
        }
    }
}
.content > p{
    margin-bottom: 4vw;
}

@media(max-width:480px){
    body{
        background: url("../assets/destination/background-destination-mobile.jpg") no-repeat;
        background-size: cover;
        header{
            nav{
                ul{
                    display: none;
                }
            }
        }
        main{
            
            .overall{
                flex-direction: column;
                .planet{
                    img{
                        width: 250px;
                        height: auto;
                    }
                 }
                .content{
                    .stats{
                        flex-direction: column;

                        span{
                            p{
                            margin: 0px;
                            }
                        }
                    }
                }
            }

           p{
            width: 42ch;
           }
        }
    }
    }
    
    @media(min-width:481px) and (max-width:768px){
        body{
        background: url("../assets/destination/background-destination-tablet.jpg") no-repeat;
        background-size: cover;
        main{
            .overall{
            flex-direction: column;
            
            .content{
                text-align: center;
                p{
                width: 70ch;
                }
            }
            }
        }
       
        }
    }
    