@import 'main';

body{
    background: url('../assets/destination/background-destination-desktop.jpg') no-repeat;
    background-size: cover;

    main{
 
        .overall{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 10vw;

            .content{
                padding: 40px 0px;
                nav{
                    width: inherit;
                    ul{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        padding: 0px;
                        
                        
                    }
                    li{
                        list-style-type: none;
                
                    
                    a{
                        color: $cream;
                        text-decoration: none;
                        margin-right: 30px;
                    }
                    a:hover{
                        @include nav(hover);
                        padding-bottom: 8px;
                    }
                    
                    
                    }
                }
                
                h2{
                    margin: 2vw 0;
            }

                p{
                    width: 48ch;
                }
                
                .stats{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    span{
                        width: 200px;
                        p{
                            width: 200px;
                        }
                        p:nth-child(2){
                            font-family: "Bellefair" serif;
                            font-size: 28px;
                            margin-top: 5px;
                            text-transform: uppercase;
                        }
                    }
                }
        
            } 
        }
    }
}
.content > p{
    margin-bottom: 4vw;
}