html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: #0B0D17;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

h1 {
  font-family: "Bellefair", serif;
  font-size: 150px;
  color: #FFFFFF;
  text-transform: uppercase;
}

h2 {
  font-family: "Bellefair", serif;
  font-size: 100px;
  color: #FFFFFF;
  text-transform: uppercase;
}

h3 {
  font-family: "Bellefair", serif;
  font-size: 56px;
  color: #FFFFFF;
  text-transform: uppercase;
}

h4 {
  font-family: "Bellefair", serif;
  font-size: 32px;
  color: #FFFFFF;
  text-transform: uppercase;
}

h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  letter-spacing: 4.75;
  color: #FFFFFF;
  text-transform: uppercase;
}

p {
  color: #FFFFFF;
  line-height: 1.8em;
}

* {
  box-sizing: border-box;
}

body header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  cursor: pointer;
  z-index: 1;
}
body header nav hr {
  width: 42vw;
  left: 180px;
  position: absolute;
  z-index: 7;
}
body header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(2em);
  backdrop-filter: blur(2em);
  height: auto;
  margin: 20px 0px;
  padding: 30px 100px;
}
body header nav ul li {
  list-style-type: none;
}
body header nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 30px;
}
body header nav ul li a:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
  padding-bottom: 30px;
}
body header nav ul li a:active {
  border-bottom: 2px solid rgb(255, 255, 255);
  padding-bottom: 30px;
}
body main {
  padding: 0px 50px;
}
body main h5 span {
  color: rgba(255, 255, 255, 0.5);
  margin-right: 5px;
}

hr {
  border: 0.2px solid rgba(255, 255, 255, 0.2);
}

@media (min-width: 481px) and (max-width: 768px) {
  header nav hr {
    display: none;
  }
}
body.home {
  background: url("../assets/home/background-home-desktop.jpg") no-repeat;
  background-size: cover;
}
body.home main {
  padding: 7vw 6vw 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body.home main h1 {
  margin: 2vw 0;
}
body.home main h5 {
  margin: 2vw 0;
}
body.home main p {
  width: 55ch;
}
body.home main .explore {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 80px;
  border-radius: 100%;
  visibility: hidden;
}
body.home main .explore .button {
  background-color: #FFFFFF;
  border-radius: 100%;
  padding: 100px;
  border: 0px;
  visibility: visible;
  cursor: pointer;
}

.button:hover .explore {
  visibility: visible;
}

@media (max-width: 480px) {
  body.home {
    background: url("../assets/home/background-home-mobile.jpg") no-repeat;
    background-size: cover;
  }
  body.home header nav ul {
    display: none;
  }
  body.home main {
    flex-direction: column;
  }
  body.home main p {
    width: 42ch;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  body.home {
    background: url("../assets/home/background-home-tablet.jpg") no-repeat;
    background-size: cover;
  }
  body.home main {
    flex-direction: column;
  }
  body.home main p {
    width: 50ch;
  }
}/*# sourceMappingURL=home.css.map */