@import 'main';
body{
    background: url("../assets/home/background-home-desktop.jpg") no-repeat;
    background-size: cover;
main{
    padding: 7vw 6vw 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .content{
        h1{
            margin: 2vw 0;
        }
        h5{
            margin: 2vw 0;
        }
        p{
            width: 55ch;
            color: $purple;
        } 
    }
    .explore:hover{
        visibility: visible;
        transition: 0.4s;
    }
    .explore{
        background-color: rgba($color: $cream, $alpha: 0.5);
        padding: 80px;
        border-radius: 100%;
        visibility: hidden;
        .button{
        background-color: $cream;
        border-radius: 100%;
        padding: 100px;
        border: 0px;
        visibility: visible;
        cursor: pointer;
        p{
            color: $background-color;
            font-family:'Bellefair', serif;
            font-size: 22px;
            text-transform: uppercase;
        }
        }
    }
}
}

@media(max-width:480px){
body{
    background: url("../assets/home/background-home-mobile.jpg") no-repeat;
    background-size: cover;
    header{
        nav{
            ul.options{
                display: none;
            }
        }
    }
    main{
        flex-direction: column;
       .content{
        text-align: center;
        p{
            width: 42ch;
            margin: 10px auto;
           }
       }
       
    }
    .explore{
        padding: 50%;
    }
}
}

@media(min-width:481px) and (max-width:768px){
    body{
    background: url("../assets/home/background-home-tablet.jpg") no-repeat;
    background-size: cover;

    main{
        flex-direction: column;
       .content{
        p{
            width: 50ch;

           }
       }
       
    
    }
    }
}

