//Global variables
$background-color: #0B0D17;
$purple: #D0D6F9;
$cream: #FFFFFF;

@mixin nav ($val){
    @if $val == active{
    border-bottom: 2px solid rgb(255, 255, 255) ;
    }
    @else if $val == hover{
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    }
    @else{
        border-bottom: none;
    }
}

@mixin dot ($val){
    @if $val == active{
        background-color:  rgb(255, 255, 255) ;
    }
    @else if $val == hover{
        background-color:rgba(255, 255, 255, 0.5);
    }
    @else{
        background-color:rgba(255, 255, 255, 0.2);
    }
}

@mixin circle ($val){
    @if $val == active{
        background-color:  rgb(255, 255, 255) ;
    }
    @else if $val == hover{
        border:1px solid rgba(255, 255, 255, 0.5);
    }
    @else{
        background-color:1px solid rgba(255, 255, 255, 0.2);
    }
}

h1{
    font-family:'Bellefair', serif;
    font-size: 150px;
}

h2{
    font-family:'Bellefair', serif;
    font-size: 100px;
}

h3{
    font-family:'Bellefair', serif;
    font-size: 56px;
}

h4{
    font-family:'Bellefair', serif;
    font-size: 32px;
}

h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.75;
}

*{
    box-sizing: border-box;
}

body.home{
    background-image: url('/assets/home/background-home-desktop.jpg');
}

.home main{
    padding: 10vw 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button{
       background-color: $cream; 
       border-radius: 100%;
       padding: 100px;
       border: 0px;
       
    }
}
nav{
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 50px;

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background-color: $cream;
    height: auto;
    margin: 20px 0px; 
    padding: 10px 100px;
    
}

li{
    list-style-type: none;
}
a{
    color: black;
    text-decoration: none;
    margin-right: 30px;
}

}
.home p{
    width: 55ch;
}
