@import 'main';

body{
    background: url('../assets/technology/background-technology-desktop.jpg') no-repeat;
    background-size: cover;

    main{
        .overall{
            display: flex;
            justify-content: space-between;
            align-items: center ;

           
            
            .content{
                padding: 5vw 5vw 5vw 0vw;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .text{
                    padding: 0vw 8vw;
                }
                .num{
                    display: flex;
                    justify-content: space-around;
                    align-items: center ; 
                    flex-direction: column;
                   span{
                    margin: 40px 0px;
                    a{
                        color: $cream;
                        padding: 25px;
                        text-decoration: none;
                        border-radius: 100%;
                        @include circle(none);
                    }
                    a:hover{
                        @include circle(hover)
                    }
                   } 
                   
                }
                h4{
                    margin: 1vw 0px 1.5vw;
                }
                p{
                    width: 48ch;
                    color: $purple;
                }
                
            }
            .tech-img{
              min-width: 515px;
              min-height: 527px; 
            }
            .vehicle{
                background:url("../assets/technology/image-launch-vehicle-portrait.jpg")  no-repeat ;
                background-size: cover ;
            }
            .spaceport{
                background:url("../assets/technology/image-spaceport-portrait.jpg")  no-repeat;
                background-size: cover ;
         }
            .capsule{
                background:url("../assets/technology/image-space-capsule-portrait.jpg") no-repeat;
                background-size: cover ;
                       }
        }

        
    }
}

@media(max-width:480px){
    body{
        
        header{
            nav{
                ul{
                    display: none;
                }
            }
        }
        main{
            
           
           p{
            width: 42ch;
           
           }

           .overall{
            flex-direction: column-reverse;
            text-align: center;
            .content{
                flex-direction: column;
                .num{
                    flex-direction: row;
                    span{
                        margin: 40px 10px;
                    }
                }
             }
             

            .tech-img{
               min-width: 768px;
               min-height: 310;
            }
            .vehicle{
                background:url("../assets/technology/image-launch-vehicle-landscape.jpg") no-repeat ;
                background-size: cover ;
            }
            .spaceport{
                background:url("../assets/technology/image-spaceport-landscape.jpg") no-repeat; 
                background-size: cover ;
                   }
            .capsule{
                background:url("../assets/technology/image-space-capsule-landscape.jpg") no-repeat;
                background-size: cover ;
            }
            
        }
        }

       
    }
    }
    
    @media(min-width:481px) and (max-width:768px){
        body{
        background: url("../assets/technology/background-technology-tablet.jpg") no-repeat;
        background-size: cover;

        main{
            
           
            p{
             width: 42ch;
            }
            .overall{
             flex-direction: column-reverse;
             text-align: center;
             .content{
                flex-direction: column;
                .num{
                    flex-direction: row;
                    span{
                        margin: 40px 10px;
                    }
                }
             }
             

             .tech-img{
               min-width: 768px;
               min-height: 310px;
            }
            .vehicle{
                background:url("../assets/technology/image-launch-vehicle-landscape.jpg") no-repeat ;
                background-size: cover ;
            }
            .spaceport{
                background:url("../assets/technology/image-spaceport-landscape.jpg") no-repeat ;
                background-size: cover ;
             }
            .capsule{
                background:url("../assets/technology/image-space-capsule-landscape.jpg") no-repeat;
                background-size: cover ;         
            }

         }
         }
 
        }
    }
    